Are you sure you want to remove "<%= @artwork.name%>" from the database?

<form action="/artworks/<%= @artwork.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete" />
  <input type=text name=name value="<%= @artwork.name %>">
  <input type=submit value="DELETE">
</form>