I'm sorry, you must enter the name of an Artist to add an Artwork to the Database.
<img class="picture" src="/images/three-heads (2).jpg" style="width:700px;height:500px;float:right;">


<h1>ARTWORK</h1>

<form action="/artworks" method="post">
<div>
  <div><label for="artwork_name">Name: </label></div>
  <input type=text name=name id="artwork_name">
</div>
<div>
  <div><label for="artwork_medium">Medium: </label></div>
  <input type=text name=medium id="artwork_medium">
</div>
<div>
  <div><label for="artwork_genre">Genre: </label></div>
  <input type=text name=genre id="artwork_genre">
</div>
<div>
  <div><label for="artwork_price">Price(USD): </label></div>
  <input type=integer name=price id="artwork_price">
</div>
<div>
  <div><label for="artwork_date">Date: </label></div>
  <input type=integer name=date id="artwork_date">
</div>
<div>
  <div><label for="artwork_artist">Artist First Name*: </label></div>
  <input type=text name=FirstName id="artwork_artist">
</div><div>
  <div><label for="artwork_artist">Artist Last Name: </label></div>
  <input type=text name=LastName id="artwork_artist">
</div><br>

<input type="submit" value="submit"></form><br><br>


*<em>this Artist must exist in our Database</em>