<div class="table_header">
  <h1>Hello, <%=  @current_user.name %>.</h1>
</div><br>
<div class="table_body_outer">
<div class="table_body">
  <ol>
    <h3><li><a href="/collectors">See my collection</a></li></h3>
    <h3><li>See Artists</li></h3>
      <ul>
        <a href="/artists"><li>All Artists in Database</li></a>
        <a href="/collectors/show_artists"><li>Artists in My Collection</li></a>
      </ul>
    <h3><a href="/artworks"><li>See all Artworks</a></li></h3>
    <h3><li><a href='/artists/new'>Add New Artist</a></li></h3>
    <h3><li><a href='/artworks/new'>Add New Artwork</a></li></h3>
    <h3><li><a href='/collectors/edit'>Edit my Profile</a></li></h3>
    <h3><li><a href="/logout">Logout</a></li></h3>
  </ol>
</div></div>