<div class="collection_header">
  <h1>Artists in Your Collection</h1>
</div><br>

<% artists = @current_user.artists.uniq {|artist| artist.id} %>
<% my_artists = artists.sort_by {|artist|artist.LastName} %>
<% my_artists.each do |artist| %>
<div class="collection_items">
<p><a href="/artists/<%= artist.id %>"><%= artist.FirstName %> <%= artist.LastName %></a></p>
</div>
<%end%>
